* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.desktop-image {
  display: none;
}

:root {
  --red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --graphic-design-green: hsl(167, 40%, 24%);
  --photography-blue: hsl(198, 62%, 26%);
  --footer-cyan: hsl(168, 34%, 41%);
  --footer-light-green: #90d4c6;
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Barlow", sans-serif;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "Fraunces", serif;
  text-align: center;
  font-weight: 700;
  /* color: var(--very-dark-desaturated-blue); */
}

h1 {
  font-size: 40px;
  letter-spacing: 6.25px;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  letter-spacing: -0.23px;
}

p {
  /* color: var(--dark-grayish-blue); */
  line-height: 30px;
  letter-spacing: -0.13px;
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  /* text-align: center; */
}

ul {
  list-style: none;
}

br.desktop-break {
  display: none;
}

/* HEADER / NAV */
.nav {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 100%;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
}

#menu-icon {
  color: var(--white);
}

#menu-icon:hover {
  opacity: 0.75;
}

#header__logo {
  width: 124px;
}

#header__arrow-icon {
  position: absolute;
  width: 30px;
  left: 50%;
  top: 294px;
  transform: translate(-50%, 0);
}

.header__content__image {
  position: relative;
  z-index: -1;
}

.header-text {
  position: absolute;
  color: white;
  top: 144px;
  left: 50%;
  transform: translateX(-50%);
}

/* NAV MENU */
.nav-menu {
  display: none;
  position: absolute;
  top: 116px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--white);
  width: 87.73%;
  text-align: center;
  padding: 14px 0 40px 0;
}

.nav-menu__triangle {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid var(--white);
  border-top: 12px solid transparent;
  border-bottom: 12px solid var(--white);
  position: absolute;
  top: -24px;
  right: 0;
}

.nav-menu__link {
  color: var(--dark-grayish-blue);
  font-size: 20px;
  padding: 16px;
}

.nav-menu__link--contact {
  font-family: "Fraunces", serif;
  padding: 16px 30px;
  background-color: var(--yellow);
  display: inline-block;
  border-radius: 50px;
  color: var(--very-dark-desaturated-blue);
  margin-top: 16px;
}

/* OFFERS SECTION */
.offers__image-container {
  position: relative;
}

.offers__image-text {
  position: absolute;
  width: 90%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#offers__image-text--graphic-design {
  color: var(--graphic-design-green);
}

#offers__image-text--photography {
  color: var(--photography-blue);
}

.offers__image-text__heading {
  margin-bottom: 20px;
  font-size: 28px;
}

.section__text {
  width: 87.25%;
  margin: 50px auto;
  text-align: center;
}

.section__text__paragraph {
  color: var(--dark-grayish-blue);
  font-size: 18px;
  padding: 30px 0 30px 0;
}

.section__text__link {
  font-family: "Fraunces", serif;
  color: var(--very-dark-desaturated-blue);
  text-transform: uppercase;
  z-index: 1;
  position: relative;
  display: inline-block;
}

.section__text__link::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #fad400;
  opacity: 0.25;
  border-radius: 28px;
  height: 10px;
  width: 137px;
  bottom: -2px;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}

.section__text__link:hover::after {
  opacity: 1;
}

.section__text__link.section__text__link--alt::after {
  background-color: #fe7766;
}

/* TESTIMONIALS */
.testimonials {
  width: 87.25%;
  margin: 60px auto;
}

.testimonial__image {
  border-radius: 50%;
  width: 72px;
  margin: 0 auto;
}

#testimonials__heading {
  font-size: 16px;
  color: var(--grayish-blue);
  text-transform: uppercase;
  letter-spacing: 6px;
  padding: 25px 0;
}

.testimonials__testimonial {
  padding: 35px 0;
}

.testimonial__content {
  font-size: 18px;
  padding: 30px 0;
  line-height: 32px;
  letter-spacing: -0.13px;
}

.testimonial__client-title {
  color: var(--grayish-blue);
  margin-top: 14px;
}

.testimonial__client-name {
  font-size: 18px;
}

.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* footer styles */
.footer {
  background-color: var(--footer-light-green);
  padding: 50px 0;
}

.footer__list {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.footer__links {
  width: 297px;
  padding: 20px 0;
}

.footer__links__link {
  color: var(--footer-cyan);
}

.footer__links__link:hover {
  color: var(--white);
}

.footer__social-links {
  width: 164px;
  padding: 20px 0;
  margin-top: 70px;
}

.footer__social-links__link:hover svg path {
  fill: var(--white);
}

#footer__logo {
  width: 170px;
  margin: 0 auto;
  padding: 20px 0;
}

@media (min-width: 767px) {
  .flex {
    display: flex;
  }

  .header-text {
    white-space: nowrap;
  }

  br.desktop-break {
    display: inline-block;
  }

  img.mobile-image {
    display: none;
  }

  img.desktop-image {
    display: block;
  }

  section.section {
    align-items: center;
  }
  section.section .desktop-image {
    max-width: 50%;
  }

  section#section-1 .desktop-image {
    order: 2;
  }

  .section__text {
    max-width: 445px;
  }

  /* .section__text#section-1__text {
    padding-left: 165px;
  }

  .section__text#section-2__text {
    padding-left: 110px;
  } */

  .section__text,
  .section__text h2,
  .section__text p,
  .section__text a {
    text-align: left;
  }

  .image-gallery {
    display: flex;
    grid-template-columns: none;
    max-width: 25%;
  }

  .offers__image-container {
    width: 50%;
  }
}
